body {
  overflow-x: hidden;
  background-color: #fbf4e1 !important;
}

.text-primary,
.ant-drawer-close {
  color: #2c1802 !important;
}

.text-secondary {
  color: #fbf4e1 !important;
}

.bg-primary,
.ant-drawer-header,
.ant-drawer-body {
  background-color: #fbf4e1 !important;
}

.badge-primary,
.bg-secondary {
  background-color: #2c1802 !important;
}

.ant-drawer-title {
  color: #2c1802 !important;
  font-size: 1.3rem !important;
}

.ant-checkbox-checked .ant-checkbox-inner {
  background-color: red !important;
  border-color: red !important;
}

.jumbotron {
  background-color: #fbf4e1;
}

.btn.btn-raised.btn-light,
.btn.btn-raised.btn-light:hover {
  color: #2c1802 !important;
}

.ant-pagination-item-active,
.ant-pagination-item:focus > *,
.ant-pagination-item:hover,
.ant-pagination-item-link:hover {
  border-color: #2c1802 !important;
  color: #2c1802 !important;
}

.ant-card-hoverable:hover {
  -webkit-box-shadow: 5px 5px 20px 5px rgba(44, 24, 2, 0.7) !important;
  box-shadow: 5px 5px 20px 5px rgba(44, 24, 2, 0.7) !important;
}

.ant-card-hoverable {
  -webkit-box-shadow: 0;
  box-shadow: 0;
  transition: box-shadow 0.3s, border-color 0.3s, -webkit-box-shadow 0.3s;
}

.ant-card-body {
  flex-grow: 1;
}

.ant-menu:not(.ant-menu-horizontal) .ant-menu-item-selected {
  background-color: inherit !important;
}

.ant-menu-inline .ant-menu-item::after {
  border: none !important;
}

.ant-modal-centered .ant-modal {
  width: 60vw !important;
  height: auto !important;
}

.table td {
  vertical-align: middle;
}

.bmd-form-group {
  padding-top: 0;
}

@media (min-width: 1200px) {
  .mx-xl-5 {
    margin-left: 5rem !important;
    margin-right: 5rem !important;
  }
}
