.ant-card-body {
  flex-grow: 1;
}

.ant-ribbon-wrapper {
  display: flex;
  width: 100%;
}

.carousel .carousel-control-prev-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23000' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E") !important;
}

.carousel .carousel-control-next-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23000' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E") !important;
}

.carousel-indicators {
  position: relative;
  margin: 0;
}

.carousel-indicators li {
  width: 80px;
  height: 50px;
  border: none;
  opacity: 0.7;
  cursor: pointer;
}

.carousel-indicators img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.carousel-indicators .active {
  opacity: 1;
  border-bottom: 2px solid black;
  padding-bottom: 4px;
}

.carousel-item img {
  object-fit: cover;
}

.carousel-inner {
  height: 60vh;
}

.ant-menu:not(.ant-menu-horizontal) .ant-menu-item-selected {
  background-color: inherit !important;
}

.ant-menu-inline .ant-menu-item::after {
  border: none !important;
}

.ant-modal-centered .ant-modal {
  width: 60vw !important;
  height: auto !important;
}

.table td {
  vertical-align: middle;
}
